@model IEnumerable<passion_project.ViewModel.Appointment.AppointmentVM>


<style>
    .table-bordered thead tr {
        border: 2px solid #17a2b8;
    }
    .table-bordered thead tr th {
        border: 2px solid #17a2b8;
    }
    .table-bordered tbody tr {
        border: 2px solid #17a2b8;
    }
    .table-bordered tbody tr td {
        border: 2px solid #17a2b8;
    }
    .fa-trash-alt, .fa-plus {
        color: #17a2b8
    }
</style>
<div class="container mt-5 mb-5">
    <p class="float-right">
        <a asp-action="Create"><i class="fas fa-plus"></i></a>
    </p>
    <table class="table table-bordered">
        <thead class="alert-info">
            <tr>
                <th>
                    Patient Name
                </th>
                <th>
                    Doctor Name
                </th>
                <th>
                    Appointment Date
                </th>
                <th>
                    Appointment Time
                </th>
                <th style="border-left:hidden;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.PatientFirstName @item.PatientLastName
                    </td>
                    <td>
                        @item.DoctorFirstName @item.DoctorLastName
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.AppointmentId">@item.AppointmentDate</a>
                    </td>
                    <td>
                        @item.AppointmentTime
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AppointmentId"><i class="fas fa-edit"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.AppointmentId"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
