@model passion_project.ViewModel.DoctorIndexVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DoctorIndexVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speciality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dt class = "col-sm-10">
            <img alt="doctor-photo" src="@Url.Content(Model.ImageUrl)" />
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biography)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DoctorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
