@model passion_project.ViewModel.DoctorIndexVM

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col">
            <img src="@Url.Content(Model.ImageUrl)" class="card-img" alt="doctor-photo" style="height:400px; width:400px" />
        </div>
        <div class="col">
            <h4>@Model.DoctorFirstName @Model.DoctorLastName</h4>
            <p>@Model.Speciality<br />
            Room No. : @Model.RoomNumber<br />
            Phone Number : @Model.DoctorPhoneNumber<br />
            Email Address : @Model.DoctorEmailAddress</p>
            <button>MAKE APPOINTMENT </button>
            <h4 style="border-bottom:1px solid grey; padding-bottom:3px;">Biography</h4>
            <p>@Model.Biography</p>
        </div>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.DoctorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
