@model IEnumerable<passion_project.ViewModel.DoctorIndexVM>

@{
    ViewData["Title"] = "List Of Doctors";
}

<h1>Doctors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>
                <td>
                    <img alt="doctor-photo" src="@Url.Content(item.ImageUrl)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorEmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Biography)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DoctorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DoctorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DoctorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

