@model IEnumerable<passion_project.ViewModel.DoctorIndexVM>

@{
    ViewData["Title"] = "List Of Doctors";
}

<style>
     .fa-plus, .fa-search {
        color: #17a2b8
     }
    
</style>

<div class="container mb-5 mt-5">
    @if (User.IsInRole("Admin"))
    {
        <div class="row mb-3">
            <div class="col">
                <a asp-action="Create"><i class="fas fa-plus float-right"></i></a>
            </div>
        </div>
    }
    <form class="form-inline" asp-controller="Doctor" asp-action="Index">
        <div class="input-group mb-3" style="width:100%;">
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
            </div>
            <input type="text" class="form-control" placeholder="Search By Speciality"
                   aria-label="" aria-describedby="basic-addon1" name="speciality" />
        </div>
        <div class="row" style="width:100%;">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="card border-info mt-3 mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="@Url.Content(item.ImageUrl)" class="card-img" alt="doctor-photo" style="height: 250px;" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@item.DoctorFirstName @item.DoctorLastName </h5>
                                    <p class="card-text">Speciality : @item.Speciality</p>
                                    <p class="card-text">Phone :  @item.DoctorPhoneNumber</p>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 m-2">
                                        <a asp-action="Details" asp-route-id="@item.DoctorId" class="btn btn-info">More Information</a>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 m-2">
                                        <a asp-controller="Appointment" asp-action="Create" asp-route-id="@item.DoctorId" class="btn btn-info">Make An Appointment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </form>
</div>

