@model IEnumerable<passion_project.ViewModel.Patient.PatientVM>

@{
    ViewData["Title"] = "Index";
}

    <style>
        .table-bordered thead tr {
            border: 2px solid #17a2b8;
        }
        .table-bordered thead tr th {
            border: 2px solid #17a2b8;
        }
        .table-bordered tbody tr {
            border: 2px solid #17a2b8;
        }
        .table-bordered tbody tr td {
            border: 2px solid #17a2b8;
        }
        .fa-edit, .fa-trash-alt, .fa-plus {
            color: #17a2b8
        }
    </style>


    <div class="container mt-5 mb-5">
        <p class="float-right">
            <a asp-action="Create"><i class="fas fa-plus"></i></a>
        </p>
        <table class="table table-bordered">
            <thead class="alert-info">
                <tr>
                    <th>
                        <a asp-action ="Index" asp-route-sortOrder=@ViewData["SortName"]>Patient Name</a>
                    </th>
                    <th>
                        Health Number
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th style="border-left: hidden;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.PatientId">@item.PatientFirstName @item.PatientLastName</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientPhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientEmailAddress)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PatientId"><i class="fas fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.PatientId"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
